body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 20px;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    max-width: 100%;
    width: 200px;
    height: auto;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

#quality-label {
    display: none;
}

#quality-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#quality {
    width: 300px; /* シークバーの幅を広げる */
    margin-right: 10px;
}

#quality-input {
    width: 120px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
