body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 20px;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    max-width: 100%;
    width: 200px; /* 画像サイズを200pxに拡大 */
    height: auto;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

#quality-label {
    display: none; /* Quality Lvlを非表示 */
}
